CompileFlags:
  Add: [
    "-I/mnt/c/Users/Vinii/Documents/VsCode/block-game/glad/",
    "-I/mnt/c/Users/Vinii/Documents/VsCode/block-game/src/hpp/",
    "-I/mnt/c/Users/Vinii/Documents/VsCode/block-game/stb/",
  ]
